In [2]:
a = "Hello jump2python"

In [4]:
len(a)

17

In [8]:
a[0:5]

'Hello'

In [9]:
a = "20230102jump2python"

In [16]:
data = a[0:8]
data
name = a[8:]
name+data

'jump2python20230102'

In [2]:
print("I eat %d apples" % 3)

I eat 3 apples

In [4]:
print("alpppe %s dldl" % "poo")

alpppe poo dldl

In [6]:
print("I ate %d apple and %s football" %(3, "play"))

I ate 3 apple and play football

In [7]:
print("Error is %d%." %98)

ValueError: incomplete format

In [8]:
print("Error is %d%%." %98)

Error is 98%.

In [11]:
print("%10s" % 'hi')

        hi

In [14]:
print("%10s I am jane" % 'hi')

        hi I am jane

In [17]:
print("%-10s" %"hi", "i am")

hi         i am

In [18]:
print("%0.4f" % 3.145192)

3.1452

In [19]:
print("I eat {0} apples".format(3))

I eat 3 apples

In [20]:
print("I ate {0} apples, so I was sick for {1} day".format(3,5))

I ate 3 apples, so I was sick for 5 day

In [1]:
#왼쪽 정렬
print("{0:<10}".format("hi"))

hi

In [2]:
#오른쪽 정렬
print("{0:>10}".format("hi"))

        hi

In [3]:
#가운데 정렬
print("{0:^10}".format("hi"))

    hi

In [4]:
#f 를 통한 포메팅
name = "정철희"
age = 24
print(f"저의 이름은 {name}, 나이는 {age}입니다")

저의 이름은 정철희, 나이는 24입니다

In [5]:
#문자열 세기 
a = "hapeeeel"
a.count("e")

4

In [6]:
#위치 알려주기
a = "python is the best choice"
a.find("h")

3

In [7]:
#문자열 삽입
",".join('happy')

'h,a,p,p,y'

In [8]:
a = [1,2,3,['a','b','c']]

In [9]:
a[3][2]

'c'

In [10]:
a = [1,2,3,4]
len(a)

4

In [14]:
a = [1,2,3,4]
a.reverse()
a

[4, 3, 2, 1]

In [17]:
a.insert(0,9)
a

[9, 9, 9, 4, 3, 2, 1]

In [20]:
a.remove(9)
a

[4, 3, 2, 1]

In [22]:
a = [1,2,3]
a.pop()
a

[1, 2]

In [23]:
a = [1,2,3,1,3,2,4,5,6,1,1,1]
a.count(1)

5

In [31]:
a = [1,2,3]
b = a[:]
a
b
b = a

In [32]:
a is b

True

In [34]:
from copy import copy
b = copy(a)
b

[1, 2, 3]

In [40]:
#2장 연습문제
socre = [80,75,55]
(socre[0] + socre[1] + socre[2]) / 3

70.0

In [41]:
13 % 2

1

In [44]:
ju = "881120-1068234"
Y = ju[0:2]
M = ju[2:4]
D = ju[4:6]
A = ju[6:]
Y,M,D,A

('88', '11', '20', '-1068234')

In [49]:
money = True
if money:
    print("택시를")
print("타고")
    print("가라")

IndentationError: unexpected indent (797536045.py, line 5)

In [50]:
money = True
if money:
    print("택시를")
    print("타고")
     print("가라")

IndentationError: unexpected indent (2201919441.py, line 5)

In [51]:
money = True
if money:
    print("택시를")
    print("타고")
    print("가라")

택시를
타고
가라

In [54]:
pocket = ['paper','money','cellphone']
if 'money' in pocket:
    pass
else:
    print("카드를 꺼내라")

In [58]:
pocket = ['paper', 'handphone']
card = True
if 'money' in pocket:
    print("택시를 타고")
else:
    if card:
        print("택시를 타고 가라")
    else:
        print("걸어가라")

택시를 타고 가라

In [59]:
pocket = ['paper', 'handphone']
card = True
if 'money' in pocket:
    print("택시를 타고")
elif card:
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

In [60]:
treeHit= 0
while treeHit < 10:
    treeHit = treeHit + 1
    print("나무를 %d 번 찍었습니다" % treeHit)
    if treeHit == 10:
        print("나무가 넘어갔어요!")

나무를 1 번 찍었습니다
나무를 2 번 찍었습니다
나무를 3 번 찍었습니다
나무를 4 번 찍었습니다
나무를 5 번 찍었습니다
나무를 6 번 찍었습니다
나무를 7 번 찍었습니다
나무를 8 번 찍었습니다
나무를 9 번 찍었습니다
나무를 10 번 찍었습니다
나무가 넘어갔어요!

In [61]:
prompt = """
1. Add
2. Del
3. List
4. Quit

Enter number: """

In [62]:
number = 0
while number != 4:
    print(prompt)
    number = int(input())

1. Add
2. Del
3. List
4. Quit

Enter number:
1

1. Add
2. Del
3. List
4. Quit

Enter number:
2

1. Add
2. Del
3. List
4. Quit

Enter number:
3

1. Add
2. Del
3. List
4. Quit

Enter number:
4

In [63]:
coffee = 10
money = 300
while money:
    print("돈을 받았으니 제 사랑을 드릴게요")
    coffee = coffee -1
    print("남은 커피의 양은 %d개 입니다" %coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 그만할게요")
        break

돈을 받았으니 제 사랑을 드릴게요
남은 커피의 양은 9개 입니다
돈을 받았으니 제 사랑을 드릴게요
남은 커피의 양은 8개 입니다
돈을 받았으니 제 사랑을 드릴게요
남은 커피의 양은 7개 입니다
돈을 받았으니 제 사랑을 드릴게요
남은 커피의 양은 6개 입니다
돈을 받았으니 제 사랑을 드릴게요
남은 커피의 양은 5개 입니다
돈을 받았으니 제 사랑을 드릴게요
남은 커피의 양은 4개 입니다
돈을 받았으니 제 사랑을 드릴게요
남은 커피의 양은 3개 입니다
돈을 받았으니 제 사랑을 드릴게요
남은 커피의 양은 2개 입니다
돈을 받았으니 제 사랑을 드릴게요
남은 커피의 양은 1개 입니다
돈을 받았으니 제 사랑을 드릴게요
남은 커피의 양은 0개 입니다
커피가 다 떨어졌습니다. 판매를 그만할게요

In [1]:
coffee = 5
while True:
    money = int(input("돈을 넣어 주세요 : "))
    if money == 300:
        print("커피를 드릴게요")
        coffee = coffee - 1
    elif money > 300:
        print("거스름돈 %d 를 주고 커피를 드릴게요 " %(money - 300))
        coffee = coffee - 1
    else:
        print("돈을 돌려주고 커피를 주지 않을게요 돈이 부족하거든요")
        print("남은 커피의 갯수는 %d개 입니다." %coffee)
    if coffee == 0:
        print("커피가 다 떨어졌어요")
        break

돈을 넣어 주세요 : 500
거스름돈 200 를 주고 커피를 드릴게요
돈을 넣어 주세요 : 500
거스름돈 200 를 주고 커피를 드릴게요
돈을 넣어 주세요 : 12
돈을 돌려주고 커피를 주지 않을게요 돈이 부족하거든요
남은 커피의 갯수는 3개 입니다.
돈을 넣어 주세요 : 500
거스름돈 200 를 주고 커피를 드릴게요
돈을 넣어 주세요 : 433
거스름돈 133 를 주고 커피를 드릴게요
돈을 넣어 주세요 : 12
돈을 돌려주고 커피를 주지 않을게요 돈이 부족하거든요
남은 커피의 갯수는 1개 입니다.
돈을 넣어 주세요 : 300
커피를 드릴게요
커피가 다 떨어졌어요

In [2]:
a = 0
while a < 10:
    a = a + 1
    if a % 2 == 0: continue
    print(a)

1
3
5
7
9

In [4]:
#for 문
test_list = ['one','two','three']
for i in test_list:
    print(i)

one
two
three

In [5]:
a = [(1,2),(3,4),(5,6)]
for (first, last) in a:
    print(first + last)

3
7
11

In [7]:
marks = [90,25,67,45,80]

student = 0
for mark in marks:
    student = student + 1
    if mark >= 60:
        print("%d번 학생은 합격입니다" % student)
    else:
        print("%d번 학생은 불합격입니다." %student)

1번 학생은 합격입니다
2번 학생은 불합격입니다.
3번 학생은 합격입니다
4번 학생은 불합격입니다.
5번 학생은 합격입니다

In [8]:
marks = [90,25,67,45,80]
number = 0
for mark in marks:
    number = number + 1
    if mark < 60:
        continue
    print("%d번 학생 축하축하~! 합격이에요~" % number)

1번 학생 축하축하~! 합격이에요~
3번 학생 축하축하~! 합격이에요~
5번 학생 축하축하~! 합격이에요~

In [3]:
marks = [90,25,67,45,80]
for number in range(len(marks)):
    if marks[number] < 60:
        continue
    print("%d 학생 축하합니다. 합격!" %(number + 1))

1 학생 축하합니다. 합격!
3 학생 축하합니다. 합격!
5 학생 축하합니다. 합격!

In [8]:
a = [1,2,3,4]
result = []
for num in a:
    result.append(num*3)
print(result)

[3, 6, 9, 12]

In [9]:
a =[1,2,3,4]
result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

In [10]:
result = [num * 3 for num in a if num % 2 == 0]
print(result)
#표현식 for 항목 in 반복가능객체 if 조건문

[6, 12]

In [14]:
#3장 연습문제
a = 0
result = 0
while a <= 1000:
    a = a + 1
    if a % 3 != 0:
        continue
    result += a
print(result)

166833

In [16]:
i = 0
while True:
    i = i + 1
    print("*"*i)
    if i >=5: break

*
**
***
****
*****

In [18]:
#4장 함수
def add(a,b):
    return a + b
print(add(1,2))
#함수의 입력값을 인수,파라미터,매개변수 등으로 표현

3

In [20]:
#입력값이 없는 함수
def say():
    return "hi"

print(say())

hi

In [23]:
#리턴값이 없는 함수
def add(a,b):
    print("%d, %d의 합은 %d입니다" %(a,b,a+b))

add(3,4)

a = add(3,4)
print(a)
#return 값이 없기 때문에 리턴값을 a변수에 대입하면 None 이 출력됨

3, 4의 합은 7입니다
3, 4의 합은 7입니다
None

In [29]:
#입력값이 몇 개가 될 지 모를때
def add_many(*args):
    result = 0
    for i in args:
        result = result + i
    return result
#매개변수 이름 앞에 *를 붙이면 입력값을 전부 모아서 튜플로 만들어줌
result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

55

In [37]:
def add_mul(choice, *args):
    if choice == "add":
        result = 0
        for i in args:
            result = result + i
    elif choice == "mul":
        result = 1
        for i in args:
            result = result * i
    return result

add_mul('add',1,2,3,4)
add_mul('mul',1,2,3,4)

24

In [1]:
def print_kwargs(**kwargs):
    print(kwargs)
print_kwargs(a=1)
#매개변수 이름 앞에 **을 붙이면 매개변수 kwargs는 딕셔너리가 되고 값은 key=value형태

{'a': 1}

In [5]:
def say_nick(nick):
    if nick == "바보":
        return
    print("저의 별명은 %s입니다." %nick)
say_nick("바보")
say_nick("찰스")

저의 별명은 찰스입니다.

In [6]:
#초기화시키고 싶은 매개변수는 항상 뒤쪽에 놓아야 함

In [29]:
def test(a):
    a += 1

print(test(3))
print(a)

None
1

In [1]:
#4장 입출력

In [4]:
a = input()
a
#imput은 입력되는 것을 문자열로 취급함

ㅎㅇㅎㅇ

'ㅎㅇㅎㅇ'

In [7]:
#한 줄에 결괏값 출력하기
for i in range(1,11):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10

In [15]:
#파일 생성하기
f = open("새파일.txt", "w")
f.close()

In [22]:
f = open("C:/Users/82106/Desktop/jupyter notebook/새파일.txt","w")
for i in range(1,11):
    data = "%d번째 줄입니다. \n" % i
    f.write(data)

In [26]:
#readline_test.py
f =open("C:/Users/82106/Desktop/jupyter notebook/새파일.txt","r")
line = f.readline()
print(line)

1번째 줄입니다.

In [27]:
#readline_all.py
f = open("C:/Users/82106/Desktop/jupyter notebook/새파일.txt","r")
while True:
    line = f.readline()
    if not line:
        break
    print(line)

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [31]:
#strip 함수를 이용하여 줄바꿈을 제거
f = open("C:/Users/82106/Desktop/jupyter notebook/새파일.txt","r")
lines = f.readlines()
for line in lines:
    line = line.strip()
    print(line)

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [32]:
f = open("C:/Users/82106/Desktop/jupyter notebook/새파일.txt","r")
data = f.read()
print(data)

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [34]:
#파일에 새로운 내용 추가하기
#adddata.py
f = open("C:/Users/82106/Desktop/jupyter notebook/새파일.txt","a") #추가모드 'a'
for i in range(11,20):
    data = "%d번째 줄입니다. \n" % i
    f.write(data)

In [36]:
#with 문과 함께 사용하기
with open("C:/Users/82106/Desktop/jupyter notebook/foo.txt","w") as f:
    f.write("인생이 짧기에 파이썬이 피료해")

In [19]:
#4장 연습문제
#홀수 짝수 판별
def is_odd(a):
    if a % 2 == 0:
        print("%d는 짝수여" %a)
    elif a % 2 != 0:
        print("%d는 홀수여" %a)
    return

is_odd(5)
is_odd(2)

5는 홀수여
2는 짝수여

In [20]:
#모든 입력값 평균구하기
def avg(*a): #*를 사용하여 여러 인자 받을 수 있도록
    result = 0
    for i in a:
        result = i + result
    return result / len(a)

avg(1,2,3,4,5)

3.0

In [22]:
#오류 수정하기
input1 = input("첫 번 째 숫 자 를 입 력 하 세 요:")
input2 = input("두 번 째 숫 자 를 입 력 하 세 요:")
total = int(input1) + int(input2)
print("두 수 의 합 은 %s 입 니 다" % total)

첫 번 째 숫 자 를 입 력 하 세 요:3
두 번 째 숫 자 를 입 력 하 세 요:6
두 수 의 합 은 9 입 니 다

In [28]:
#오류 수정하기2
f1 = open("C:/Users/82106/Desktop/jupyter notebook/test.txt","w")
f1.write("Life is too short")
f1.close()
f2 = open("C:/Users/82106/Desktop/jupyter notebook/test.txt","r")
print(f2.read())
f2.close()

Life is too short

In [29]:
#5장

In [13]:
class FourCal:
    pass

a = FourCal()
type(a)

class FourCal:
    def setdata(self, first, second):
        self.first = first
        self.second = second

a = FourCal()
a.setdata(4,2)
print(a.first)

class FourCal:
    def setdata(self, first, second):
        self.first = first
        self.second = second
    def add(self):
        result = self.first + self.second
        return result
    def mul(self):
        result = self.first * self.second
        return result
a = FourCal()
a.setdata(4,2)
a.add()

4

6

In [14]:
a = FourCal()
a.add()

AttributeError: 'FourCal' object has no attribute 'first'